<h1>Eat Da Burger!</h1>



<ul>
  {{#each burger}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="burger/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">DEVOUR!</button>
        </form>

        {{> burger/delete-burger}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="burger/insertOne" method="POST">

  <div class="form-group">
    <label for="bn">Burger Name:</label>
    <input type="text" id="bn" name="name">
    <button type="submit" id="devour">DEVOUR</button>
  </div>

  <button type="submit" id="submit">Add Burger</button>
</form>
